<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatório</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <div class="container">
    <h1>Relatório supressão</h1>
    <form action="{{ url_for('submit') }}" method="POST">
      <fieldset>
        <!-----------------------------------------------------------BOX FAZENDA ------------------------------------------------------->
        <div class="form-group">
          <label for="data">Data:</label>
          <input type="date" name="data" id="data" required>
        </div>       
        <!-----------------------------------------------------------BOX FAZENDA ------------------------------------------------------->
        <div class="form-group">
          <label for="fazenda">Fazenda:</label>
          <select name="fazenda" id="fazenda" required>
            <option selected disabled value>Selecione</option>
            <option value="Monte Belo Gleba A">Monte Belo Gleba A</option>
            <option value="Monte Belo Gleba C">Monte Belo Gleba C</option>
            <option value="São João II">São João II</option>
            <option value="Paredão - Gleba B">Paredão - Gleba B</option>
            <option value="Paredão">Paredão</option>
            <option value="Mimoso">Mimoso</option>
            <option value="Terra Nova">Terra Nova</option>
            <option value="Dois Corações">Dois Corações</option>
            <option value="Santa Marte II">Santa Marte II</option>
          </select>
        </div>
        <!-----------------------------------------------------------BOX TALHAO ------------------------------------------------------->
        <div class="form-group">
          <label for="talhao">Talhão:</label>
          <select name="talhao" id="talhao" required>
            <option selected disabled value>Selecione</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
          </select>
        </div>
        <!-----------------------------------------------------------BOX TURNO ------------------------------------------------------->
        <div class="form-group">
          <label>Turno:</label>
          <label>
            <input type="radio" name="turno" value="A" required> A
          </label>
          <label>
            <input type="radio" name="turno" value="B"> B
          </label>
        </div>
        <!-----------------------------------------------------------BOX STATUS ------------------------------------------------------->
        <div class="form-group">
          <label>Status:</label>
          <label>
            <input type="radio" name="status" value="Em andamento" required> Em andamento
          </label>
          <label>
            <input type="radio" name="status" value="Finalizado"> Finalizado
          </label>
        </div>
        <!-----------------------------------------------------------BOX MAQUINA ------------------------------------------------------->

        <div class="form-group">
          <label for="maquina">Máquina:</label>
          <select name="maquina" id="maquina" required>
            <option selected disabled value>Selecione</option>
            <option value="ES-08">ES-08</option>
            <option value="ES-09">ES-09</option>
            <option value="ES-10">ES-10</option>
            <option value="ES-11">ES-11</option>
          </select>
        </div>
        <!-----------------------------------------------------------BOX OPERADOR ------------------------------------------------------->
        <div class="form-group">
          <label for="operador">Operador:</label>
          <select name="operador" id="operador" required>
            <option selected disabled value>Selecione</option>
            <option value="Calebe Maico">Calebe Maico</option>
            <option value="Ricardo">Ricardo</option>
            <option value="Ulisses">Ulisses</option>
            <option value="Jeferson">Jeferson</option>
            <option value="Luciano Soares">Luciano Soares</option>
          </select>
        </div>
        <!-----------------------------------------------------------BOX INICIAL TRABALHO ------------------------------------------------------->
        <div class="form-group">
          <label for="hinicial">Horímetro inicial:</label>
          <input type="number" id="hinicial" name="horimetro_inicial" step="0.1" required>
        </div>
        <!-----------------------------------------------------------BOX FINAL TRABALHO ------------------------------------------------------->
        <div class="form-group">
          <label for="hfinal">Horímetro final:</label>
          <input type="number" id="hfinal" name="horimetro_final" step="0.1" required>
        </div>
        <!----------------------------------------------------------- BOTAO DE CALCULAR HORAS TRABALHADAS ------------------------------------------------------->
        <div class="form-group">
          <button type="button" id="calcular" onclick="calcularHoras()">Calcular Horas Trabalhadas</button>
          <input type="number" id="horas_trabalhadas" name="horas_trabalhadas" readonly><!--aqui e onde aparecem as horas trabalhadas-->
        </div>
        <!-----------------------------------------------------------BOX INICIAL TRABALHO ------------------------------------------------------->
        <div class="form-group">
          <label for="producao_ha">Produção (HA):</label>
          <input type="number" id="producao_ha" name="producao_ha" placeholder="Produção por hectare" >
        </div>
        <!-----------------------------------------------------------BOX EQUIPE EM TRANSPORTE ------------------------------------------------------->
        <div class="form-group">
          <label for="equipe_transporte">Equipe em Transporte:</label>
          <input type="text" id="equipe_transporte" name="equipe_transporte" placeholder="Nome(s) da equipe em transporte" >
        </div>
        <!-----------------------------------------------------------BOX DDS/CAFE ------------------------------------------------------->
        <div class="form-group">
          <label for="dds_cafe">DDS/Café:</label>
          <input type="text" id="dds_cafe" name="dds_cafe" placeholder="Digite DDS ou Café" >
        </div>
      </fieldset>
        <!-----------------------------------------------------------BOX Manutencao ------------------------------------------------------->
        <fieldset id="blocos-manutencao">
          <!-- Bloco de Manutenção -->
          <div class="bloco-manutencao">
            <div class="form-group">
              <label>Inspensões diárias</label>
              <select name="manutencao_0" class="manutencao">
                <option selected disabled value>Selecione</option>
                <option value="Afiação de Facas">Afiação de Facas</option>
                <option value="Substituição de facas">Substituição de facas</option>
                <option value="Perca de potência">Perca de potência</option>
                <option value="Substituição de rolamento frontal">Substituição de rolamento frontal</option>
                <option value="Substituição de rolamento traseiro">Substituição de rolamento traseiro</option>
                <option value="Substituição de polia">Substituição de polia</option>
                <option value="Substituição de correia do cabeçote">Substituição de correia do cabeçote</option>
                <option value="Retirada de arame do rolo">Retirada de arame do rolo</option>
                <option value="Trava aranha">Trava aranha</option>
                <option value="Manutencao preventiva">Manutencao preventiva</option>
                <option value="Troca de correia do cabecote">Troca de correia do cabecote</option>
                <!-- outros itens aqui -->
              </select>
            </div>
        
            <div class="form-group">
              <label>Horário inicial (Manutenção):</label>
              <input type="time" name="manutencao_horimetro_inicial_0" class="horario-inicial">
            </div>
        
            <div class="form-group">
              <label>Horário final (Manutenção):</label>
              <input type="time" name="manutencao_horimetro_final_0" class="horario-final">
            </div>
        
            <div class="form-group">
              <button type="button" onclick="calcularTempoManutencao(this)">Calcular Tempo em Manutenção</button>
              <input type="text" name="tempo_manutencao_0" class="tempo-manutencao" readonly>
            </div>
          </div>
        </fieldset>
        
        
        
        <script>
        
        function adicionarBlocoManutencao() {
            const blocoManutencao = document.createElement('div');
            blocoManutencao.classList.add('bloco-manutencao');
            
            blocoManutencao.innerHTML = `
                <div class="form-group">
                  <label for="manutencao_${manutencaoIndex}">Tipo de Manutenção:</label>
                  <select name="manutencao_${manutencaoIndex}" class="manutencao" required>
                    <option selected disabled value>Selecione</option>
                    <option value="Afiação de Facas">Afiação de Facas</option>
                    <!-- outros itens -->
                  </select>
                </div>
                <div class="form-group">
                  <label>Horário Inicial (Manutenção):</label>
                  <input type="time" name="manutencao_horimetro_inicial_${manutencaoIndex}" class="horario-inicial">
                </div>
                <div class="form-group">
                  <label>Horário Final (Manutenção):</label>
                  <input type="time" name="manutencao_horimetro_final_${manutencaoIndex}" class="horario-final">
                </div>
                <div class="form-group">
                  <button type="button" onclick="calcularTempoManutencao(this)">Calcular Tempo em Manutenção</button>
                  <input type="text" name="tempo_manutencao_${manutencaoIndex}" class="tempo-manutencao" readonly>
                </div>
            `;
        
            document.getElementById('blocos-manutencao').appendChild(blocoManutencao);
            manutencaoIndex++;
        }
        </script>
        
        
        <button type="button" onclick="adicionarBlocoManutencao()">Adicionar Parada de Manutenção</button>
        
        <!-----------------------------------------------------------TRANSPORTE ------------------------------------------------------->
        <div class="form-group">
          <label for="transporte_pracha">Em Transporte Pracha:</label>
          <input type="text" id="transporte_pracha" name="transporte_pracha" placeholder="Equipe em transporte na pracha" >
        </div>
      </fieldset>

      <button type="submit">Enviar</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
